name: Check for broken links

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check-broken-links:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
          cache: "npm"
      - name: Install dependencies
        run: npm ci

      - name: Get commit sha
        id: commit-sha
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
              echo ::set-output name=sha::${{ github.event.pull_request.head.sha }}
          else
              echo ::set-output name=sha::${{ github.sha }}
          fi
      - name: Wait for CF Pages
        id: cf-pages
        uses: WalshyDev/cf-pages-await@v1
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          project: "docs"
          commitHash: ${{ steps.commit-sha.outputs.sha }}

      - name: Check for broken links
        run: |
          npx broken-link-checker -f -r -v -o --exclude linkedin --exclude "cloudquery.io/discord" --filter-level 3 https://docs.cloudquery.io/docs/intro
